
.logo{
    height: 80px;
}
.bg-header, .bg-footer, .link-card, .bg-card {
    background-color: #f3e9f1;
}

.link-card{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: .5rem;
}
.link-card:hover{
    box-shadow: black 2px 2px 5px;
    color: black;
}
.card *:not(img){
    margin: 0 .3rem 1rem .3rem ;
}

.btn:hover{
    background-color:  #f3e9f1!important;
}
#footer a:hover {
    text-decoration: underline;
}